body{
	background-color: cornsilk; 
}

h1 {
	margin: auto;
	padding-top: 1%;
	width: 40%;
	text-align: center;
	color: black;
}

div {
	padding: 2%;
	margin-bottom: 5%;
}

img {
	padding-top: 5%;
	margin-left: 20%;
	width: 30%;
	float: left;
}

button {
	background-color: deepskyblue;
	border: none;
	padding: 30px;
	font-size: 30px;
	color: cornsilk;
	float: right;
	margin-top: 17%;
	margin-right: 30%;
	box-shadow: 5px 5px #888888;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.box {
	display: none;
	background: black;
	width: 70%;
	margin: auto;
}